<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vpn.mine"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>
    <uses-feature android:name="android.hardware.nfc"
                  android:required="false"/>
    <uses-feature android:name="android.software.leanback"
                  android:required="false"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/scala_android"
                 android:theme="@style/AppTheme"
                 android:supportsRtl="true"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:hardwareAccelerated="true"
                 android:name=".MyApplication">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.SignInActivity"
                android:theme="@style/MyDialogTheme"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.MainActivity"
                  android:launchMode="singleTask">
            <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
        </activity>
        <!--<activity android:name=".activity.ApplicationActivity"/>-->
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.AccountInfoActivity"/>
        <activity android:name=".activity.ChangePasswordActivity"/>
        <activity android:name=".activity.SelectRegionActivity"/>
        <activity android:name=".activity.ApplicationActivity"/>
        <activity
                android:name=".MyVpnRunnerActivity"
                android:excludeFromRecents="true"
                android:taskAffinity=""
                android:launchMode="singleTask">
        </activity>
        <service
                android:name=".MyVpnService"
                android:exported="false"
                android:process=":bg"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>


        <!-- android-job components -->
        <service android:name="com.evernote.android.job.v21.PlatformJobService"
                 android:process=":bg"/>
        <service android:name="com.evernote.android.job.v14.PlatformAlarmService"
                 android:process=":bg"/>
        <service android:name="com.evernote.android.job.gcm.PlatformGcmService"
                 android:process=":bg"/>
        <receiver android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
                  android:process=":bg"/>
        <receiver android:name="com.evernote.android.job.JobBootReceiver"
                  android:process=":bg"/>
    </application>
</manifest>